body{
    background-color: blanchedalmond}
.watch{
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: unset;
}
h1{
    text-align: center;
}
.pictures {
    display: flex;
    justify-content: space-around;
}